@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 28, 28;
  --background-rgb: 249, 248, 244;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

/* Custom Scrollbar for that premium feel */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #F9F8F4;
}
::-webkit-scrollbar-thumb {
  background: #D4C4B7;
}
::-webkit-scrollbar-thumb:hover {
  background: #1C1C1C;
}
